@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Ubuntu:wght@400;500;700&display=swap');
/* font-family: 'Mr Dafoe', cursive;
font-family: 'Ubuntu', sans-serif; */

*{
    padding: 0;
    margin: 0;
}

body{
  background: #F6F6F6;
}

.font-ubuntu{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.ubuntu-400{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}
.ubuntu-500{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}
.img-align{
  vertical-align: baseline;
}


.navbar-logo{
    display: flex;
    font-weight: bold;
    gap: 8px;
    align-items: flex-end;
}
.navbar-logo span{
    color: #00c194;
    font-size: .9rem;
    font-weight: 400;
}
.navbar-logo div{
    line-height: 1;
}
.btns{
    min-width: 160px;
    display: flex;
    justify-content: space-between;
}
 .btns a {
    text-decoration: none;
    font-size: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 27px;
    color: rgba(131, 128, 131, 0.861);
    border: 2px solid #00c194;
    border-radius: 50%;
 }
.img{
  max-width: 100%;
}
.sidebar,
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
}

.sidebar {
  left: -100%;
  max-width: 300px;
  transition: all ease 0.25s;
  overflow-y: auto;
  z-index: 1032;
}
.overlay {
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  visibility: hidden;
  z-index: 1031;
}

.main-navigation.active .sidebar {
  left: 0;
}

.main-navigation.active .overlay {
  visibility: visible;
}

.hero-main{
  background: url(/images/hero.png) bottom/contain no-repeat;
  width: 100%;
  height: 100vh;
}

.hero-main::before{
  content: " ";
  background-color: #00c194;
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0.1;
}
.empty{
  background-color: #f6f6f7;
  width: 100%;
  height: 10rem;
}
.description{
  max-width: 40rem;
}
h1{
  font-family: 'Mr Dafoe', cursive;
  font-size: 3rem !important;
  margin-bottom: -10px;
}
#text-gray{
  color: #E4E7E6;
}

#text-green{
  color: #DBEEEA;
  margin-bottom: -26px;
  margin-top: -25px;
}
.text-green-dark{
  color: #00C194;
}
.description h2{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.bg-green{
  background-color: #00C194 !important;
  color: #fff !important;
}
.bg-green-2{
  background-color: #00C194 !important;
  color: #fff !important;
  border-bottom-right-radius: 50% !important;
  border-top-right-radius: 50% !important;
}
.bg-success{
  color: #fff !important;
  border-end-start-radius: 100% !important;
  border-start-start-radius: 100% !important;
}
.cards-width{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.cards{
  margin: 0 auto;
  width: 18rem;
}

.cards:hover{
  background-color: #00C194;
  color: #fff !important;
}
.title{
  margin-bottom: 2rem !important;
}

.widget{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #E9FFFA;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 2.5rem auto;
}

.custom__button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -33px;
  background: #FFFFFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.etiqueta{
  margin: 25px 25px auto;
  position: absolute;
  background-color: #00C194 !important;
}

.etiqueta p{
  font-size: 12px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  padding: 2px 15px;
}
.etiqueta2{
  margin: auto 10px;
  bottom: 170px;
  background-color: transparent !important;
}
.etiqueta2 p{
  padding: 2px 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.subtitle{
  text-decoration: none !important;
  color: #00C194 !important;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

#cart-length{
  background-color: #00C194 !important;
}

@media screen and (max-width:768px) {
  .description{
    max-width: 20rem;
  }

  @media screen and (max-width:4) {
    .description{
      max-width: 20rem;
    }

  }

  @media (min-width: 992px) {
  .sidebar {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    flex-direction: row;
    max-width: 100%;
    transform: none;
    transition: none;
    overflow-y: visible;
    z-index: auto;
  }
}

.main-heading {
  position: relative;
  z-index: 100;
}
}

